<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-product}" th:object="${createProduct}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Comment:</td>
            <td><input th:field="*{cmt}"></td>
        </tr>
        <tr>
            <td>Producer:</td>
            <td><input th:field="*{producer}"></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>